<a href="https://colab.research.google.com/github/levi178u/Hackodisha/blob/main/Dataset_generation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [157]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

:

In [ ]:
data= pd.read_csv('/content/payments_fradulent.csv')
data. head(10)

In [143]:
data = data[['Amount','oldbalanceOrg','newbalanceOrig','oldbalanceDest','newbalanceDest',"isFraud","isFlaggedFraud"]]

In [144]:
import random
np.random.seed(100)
from datetime import datetime, timedelta

In [145]:
start_date = datetime(2024, 1, 1)
end_date = datetime(2024, 12, 31)
num_transactions =  len(data)

## I imported time delta so that I can know the difference between the start time and end time values

In [146]:
transaction_dates = [start_date + timedelta(days=random.randint(0, (end_date - start_date).days)) for _ in range(num_transactions)]

# for knowing the time and date of transaction/ payments done I did this

In [147]:

data['Transaction_Date'] = transaction_dates
data['Transaction_Date'] = pd.to_datetime(data['Transaction_Date'])
data['Transaction_Date'] = data['Transaction_Date'].dt.strftime('%d-%m-%y')

In [148]:
def timestamp(start, end):
    return start + timedelta(seconds=random.randint(0, int((end - start).total_seconds())))

transaction_time = [timestamp(start_date, end_date) for _ in range(num_transactions)]


data['Transaction_Time'] = transaction_time
data['Transaction_Time'] = data['Transaction_Time'].dt.strftime('%H:%M:%S')

#for geo-location  (of the the point where the person does the transaction )

Let us also merge the latitude nad longitude parts a coordinates to obtain location

In [149]:

x = [random.uniform(-90, 90) for _ in range(num_transactions)]
y= [random.uniform(-180, 180) for _ in range(num_transactions)]



data['Coordinates'] = [(lat, lon) for lat, lon in zip(x,y )]

In [ ]:
data.head(10)

Now for producing Acc numbers and IP- address

In [151]:
def ip():
    return f"{random.randint(1, 223)}.{random.randint(0, 255)}.{random.randint(0, 255)}.{random.randint(0, 255)}"

data['ip_addresses'] = [ip() for _ in range(num_transactions)]

Let us now remove all the missing values from the dataset

In [152]:
data.dropna(inplace =True)

In [ ]:
data.head(10)

In [154]:
data.to_csv('payments_fradulent.csv', index=False)

In [ ]:
from  google.colab import files
files.download('payments_fradulent.csv')

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
def acc():
    return f'ACC{random.randint(10000000, 99999999)}' 

account_numbers = [acc() for _ in range(num_transactions)]